footer{
  font-size: small;
  font-style: italic;
  text-align: center;
}

blockquote{
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

caption{
  margin-left: 200px;
  text-align:start;
  font-size: small;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.flex-container {
  display:flexbox;
  padding: 10px;
}

.flex-child {
  flex: 1;
  margin: 0px;
  padding: 0px;
}

.outter-div {
  margin-top: 190px;
  margin-bottom: 80px;
  border-style: solid;
  border-color: blue;
  border-width: 4px;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  background-color: rgba(181,206,131,255);
  border-color: rgba(181,206,131,255);
  border-radius: 20px;
  box-shadow: -10px 5px 30px 8px black;
  padding: 50px;
  height: auto;
  padding: 0px;
  overflow: hidden;
  opacity: 95%;
}

.dropdown-menu {
  border-style: solid;
  border-color:burlywood;
  border-width: 4px;
  margin-right: 300px;
  margin-left: 300px;
  width: 60%;
  background-color: rgba(181,206,131,255);
  border-color: rgba(181,206,131,255);
  border-radius: 20px;
  box-shadow: -10px 5px 30px 8px grey;
  padding: 30px;
  overflow: hidden;
}

h3, h5, a{
  text-align: center;
  color:rgb(5, 92, 59);
}

/* img{
  margin-left: 200px;
} */

.image-container{
  display: flex;
  justify-content: center;

}
