<app-navbar></app-navbar>
<!-- <p>admin-view works!</p> -->
<body>

  <div class="container-fluid">

    <div class="m-1">
     <label for="search"> Search:</label>
     <input (keyup)="searchByUsername($event)" [value]="search"
     class="form-control shadow-sm" type="text" name="search"/>
    </div>

    <ul *ngFor="let user of users">

      <li>{{user.username}}</li>
      <li>{{user.role}}</li>
      <li>{{user.enabled}}</li>

      <button (click)="disableUser(user.id)">Disable Account</button>
      <button (click)="enableUser(user.id)">Enable Account</button>

    </ul>

  </div>

</body>
