<app-navbar></app-navbar>

<!-- What state are you from?<input type="text" id="state" size="2"> <br>
  What is your favorite thing to see on a hike? <br>
  <input type="radio" id = "feature" name="peaks" value="peaks" >
  <label for="peaks">Peaks</label> <br>
			<input type="radio" id = "feature" name="waterfalls" value="waterfalls" >
      <label  for="waterfalls">Waterfalls</label> <br>
			<input type="radio" id = "feature" name="panoramic views" value="panoramic views" >
      <label for="panoramic views">Panoramic Views</label> <br>
			<input type="radio" id = "feature" name="trees" value="trees" >
      <label for="trees">Trees</label> <br>
			<input type="radio" id = "feature" name="wildlife" value="wildlife">
      <label for="wildlife">Wildlife</label> <br>
			<input type="radio" id = "feature" name="wildflowers" value="wildflowers" >
      <label for="wildflowers">Wildflowers</label> <br>

  What is your favorite trail food?
  <select id="food" name="food" >
    <option value="select">Select</option>
    <option value="Trail Mix Duh">Trail Mix Duh</option>
    <option value="I like to eat eat eat Apples and Bananas">I like to eat eat eat Apples and Bananas</option>
    <option value="Warm Hoagie">Warm Hoagie</option>
    <option value="Jerky">Jerky</option>
    <option value="Wild berries">Wild berries</option>
    <option value="Cliff Bar">Cliff Bar</option>
    <option value="No eating on the trail">No eating on the trail</option>
    <option value="Water">Water</option>
  </select> <br>
  Favorite Hiking Memory:<input type="text"> <br>

  What do you think every Trailhead MUST have? <br>
  <div name="trailhead" id="trailhead">
  <input type="radio" id = "bathrooms" name="bathrooms" value="bathrooms" >
  <label for="bathrooms">Bathrooms</label> <br>
			<input type="radio" id = "parking" name="parking" value="parking" >
      <label  for="parking">Parking</label> <br>
			<input type="radio" id = "clearDirections" name="clearDirections" value="clearDirections" >
      <label for="clearDirections">Clear Directions on how to get to the Trailhead</label> <br>
			<input type="radio" id = "water" name="water" value="water" >
      <label for="water">Drinking Water</label> <br>
			<input type="radio" id = "signage" name="signage" value="signage">
      <label for="signage">Proper route Signage</label> <br>
			<input type="radio" id = "photoOp" name="photoOp" value="photoOp" >
      <label for="photoOp">Photo Op</label> <br>
  </div> -->

<div class="container-fluid">
<div class="mx-auto d-flex flex-column justify-content-center profileTop" style="width: 90vw;">

  <div class="container-fluid card p-3">
    <div class="row">
      <div class="col-md-6 text-center">
        <img [src]="user.imageUrl" class="w-50 mx-auto rounded-circle" alt="user profile image">
      </div>
      <div class="col-md-6">
        <h5 class="card-title">{{user.username}}</h5>
        <p class="card-text"></p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between">
            <p>Name:</p>
            <p>{{user.firstName}} {{user.lastName}}</p>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <p>Favorite Trail Food:</p>
            <p>{{user.favoriteTrailFood}}</p>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <p>User Since:</p>
            <p>{{user.createdAt}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body text-center">
      <a href="#" class="card-link">Home</a>
      <a href="feed" class="card-link">Trails</a>
    </div>
    <!-- <button (click)="disableUser(user.id)">Disable Account</button> -->
  </div>
<br>
  <div class="container">
    <div class="row">
      <div class="text-center">
    <button type="button" class="btn btn-outline-info" (click)="setSelected(user)">Edit</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <form class="form-horizontal rounded" *ngIf="selected">
    <div class="form-group">
      <h5>{{user.username}}</h5>
  <div class="row">
     <div class="col-sm-6">
        First Name: <input type="text" class="form-control" name="firstName" [(ngModel)]="editUser.firstName"><br>
     </div>
     <div class="col-sm-6">
    Last Name: <input type="text" class="form-control" name="lastName" [(ngModel)]="editUser.lastName"><br>
     </div>
  </div>
    Profile Image: <input type="text" class="form-control" name="imageUrl" [(ngModel)]="editUser.imageUrl"><br>
    Favorite Trail Food: <input type="text" class="form-control" name="favoriteTrailFood" [(ngModel)]="editUser.favoriteTrailFood"><br>

        <div class="btn-group">
          <button type="button" class="btn btn-outline-info" (click)="updateUser(editUser)">Submit</button>
          <button type="button" class="btn btn-outline-danger" (click)="closeSelected()">Cancel</button>
        </div>
      </div>
  </form>
</div>

<div class="container-fluid card p-3">

  <h5 class="card-title text-center">Favorite Trails</h5>

  <ul class="list-group list-group-flush" *ngFor="let trails of user.favoriteTrails">
    <li>
      <p>{{trails.name}}</p>
    </li>
    <li>
      <p>{{trails.city}}</p>
    </li>
    <li>
      <p>{{trails.state}}</p>
    </li>
  </ul>
</div>
</div>
