.tableD {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 60%;
  padding: 0px;
  background-color: rgba(181,206,131,255);
  border-style: solid;
  border-color: rgba(181,206,131,255);
  border-radius: 20px;
  padding: 0px;
  background-clip: padding-box;
  box-shadow: -10px 5px 30px 8px grey;
  overflow: hidden;
}

.locationPNG {
  width: 50px;
}

.clickable-thing:hover {
  cursor: pointer;
  color: whitesmoke;
  text-decoration: underline;
}

.acorn-button {
  background-color: rgba(181,206,131,255) !important;
  border-color: rgba(181,206,131,255) !important;
  margin: 20px;
  color: #212629;
  margin-top: 80px;
}

.clickable-thing {
  display: inline-block;
  /* margin: auto; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 /* display: flex; */
/* justify-content: center;
align-items: center; */
}

.centeredEM {
  text-align: center;
  font-style: italic;
  /* justify-content: center; */
  /* align-items: center; */

}
