<div *ngIf="newTrailFormBool">
  <app-new-trail-form></app-new-trail-form>
</div>
<div *ngIf="!newTrailFormBool">
  <br>
  <button (click)="newTrailFormFillOut()">Create Trail</button>
</div>
<!-- <p>trail-feed works!</p> -->

<div id='trailFeed'>
  <table *ngFor="let trail of trails">
    <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>

          <ngb-carousel #carousel [interval]="2550" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let trailImage of trail.trailImages; index as i">
              <div class="carousel-caption">
                <h3> {{i + 1}} </h3>
              </div>
              <a href="trailImage.imageUrl{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
                <div class="picsum-img-wrapper">
                  <img [src]="trailImage.imageUrl" alt="My image {{i + 1}} description">
                </div>
              </a>
            </ng-template>
          </ngb-carousel>

          <hr>

        </td>
        <td (click)="displayTrail(trail)">{{trail.name}}</td>
        <td>{{trail.distanceMiles}}</td>
        <td>{{trail.city}}</td>
        <td>{{trail.state}}</td>
      </tr>
    </tbody>
  </table>
  </div>

