<app-navbar></app-navbar>
<div *ngIf="newTrailFormBool">
  <app-new-trail-form></app-new-trail-form>
</div>
<div class="d-flex justify-content-center" *ngIf="!newTrailFormBool">
  <br>
  <button class="btn acorn-button" (click)="newTrailFormFillOut()">Create Trail</button>
</div>
<div class="d-flex justify-content-center" *ngIf="newTrailFormBool">
  <button class="button" (click)="closeTrailFormFillOut()">Cancel</button>
</div>
<!-- <p>trail-feed works!</p> -->

<div>
  <div *ngFor="let trail of trails">
    <div *ngIf="trail.enabled" class="justify-content-center tableD">
      <div class="carousel-inner m-0" role="listbox" style="max-width: 1280px; max-height: 350px;">
        <ngb-carousel class="" #carousel [interval]="4000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
          <ng-template ngbSlide *ngFor="let trailImage of trail.trailImages; index as i">
            <a (click)="displayTrail(trail)" target="_blank" rel="nofollow noopener noreferrer">
              <div class="d-flex justify-content-center">
                <img id="trailPic" [src]="trailImage.imageUrl" alt="My image {{i + 1}} description">
              </div>
            </a>
          </ng-template>
        </ngb-carousel>
      </div>
      <h2 class="clickable-thing" (click)="displayTrail(trail)">{{trail.name}}</h2><br><br>
      <p>{{trail.city}}, {{trail.state}}<img class="locationPNG" src="../../../assets/images/locationPNG.png" alt=""><br></p>
      <h5>About this trail: </h5>
        <div class="centeredEM">{{trail.details}}</div>
    </div>
  </div>
  <br>
</div>
