<div *ngIf="!loggedIn()" class="outter-div">
  <div class="flex-container">
    <div class="flex-child">
      <div class="login-flex">
        <form>
          <div class="input-text-div me-3">
            Username: <input class="input-text" type="text" placeholder="Username" name="username" [(ngModel)]="loginUser.username"><br>
            Password: <input class="input-text" type="password" placeholder="Password" name="password" [(ngModel)]="loginUser.password"><br>
            <button class="btn acorn-button" (click)="login(loginUser)">Login</button>
            <a [routerLink]="['/signup']"><button class="btn acorn-button">Sign Up</button></a><br>
            <a class="github-development" href="https://github.com/aadkin200/FinalProject">follow on GitHub<img class="github-image" src="../../../assets/images/githubLogo.png" alt=""></a>

          </div>
        </form>
      </div>
    </div>
    <div class="flex-child">
      <img class="homescreen-img" src="../../../assets/images/homeScreenNutz.jpg" alt="">
    </div>
  </div>
</div>


